<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Register New User Form</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .error {
            color: red
        }
    </style>

</head>

<body>

<div>

    <div id="loginbox" style="margin-top: 50px;"
         class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">

        <div class="panel panel-primary">

            <div class="panel-heading">

                <div th:if="${edit}" class="panel-title">Edit user</div>
                <div th:if="${!edit}" class="panel-title">Register New User</div>
            </div>

            <div style="padding-top: 30px" class="panel-body">

                <!-- Registration Form -->
                <form th:if="${!edit}" action="#" th:action="@{/admin/newuser}" th:object="${user}" method="POST" class="form-horizontal">

                    <div th:replace="/user_edit_body"> </div>

                </form>

                <!-- Edit Form -->
                <form th:if="${edit}"  action="#" th:action="@{/admin/save}" th:object="${user}" method="POST" class="form-horizontal">

                    <div th:replace="/user_edit_body"> </div>

                </form>


            </div>

        </div>

    </div>


</div>

</body>
</html>