<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Employee Directory</title>
</head>

<body>

<div class="container">
    <div th:if="${admin_fragment_body}">
        <div th:replace="/user_body :: admin_fragment"></div>
    </div>
    <div th:if="${!admin_fragment_body}">
        <div th:replace="/user_body :: user_fragment"></div>
    </div>

	<!-- Add a logout button -->
<!--        <br>-->
<!--        <br>-->
<!--        <a th:if="${admin_fragment_body}" th:href="@{/logout}"-->
<!--           class="btn btn-primary btn-sm mb-3">-->
<!--            Logout-->
<!--        </a>-->
<!--    -->
<!--    <div th:if="${!admin_fragment_body}" class="container">-->
<!--        <a  th:href="@{/logout}"-->
<!--           class="btn btn-primary btn-sm mb-3">-->
<!--            Logout-->
<!--        </a>-->
<!--    </div>-->

</div>

</body>
</html>



